<nav class="menu-wraper">
    <ul class="menu">
        <li class="menu-item">
            <a href="{{url_for('views.admin')}}" class="menu-item-action">Painel administrativo</a>
        </li>

        <li class="menu-item">
            <a href="{{url_for('noticia.painel_noticias')}}" class="menu-item-action">Noticias</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('sessao.painel_sessoes')}}" class="menu-item-action">Sessões</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('vereador.painel_vereadores')}}" class="menu-item-action">Vereadores</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('diaria.painel_diarias')}}" class="menu-item-action">Diárias</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('documentos.painel_documentos')}}" class="menu-item-action">Documentos</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('usuario.logout')}}" class="menu-item-action">Sair</a>
        </li>
    </ul>
</nav>