{% extends 'public/base.html' %}

{% block title %}
    Diárias
{% endblock %}

{% block estilos %}
    <style>
    </style>
{% endblock %}

{%block content %}

    <section class="posts">
        {% for diaria in diarias.items %}
                <article class="post">
                    <a href="{{url_for('diaria.diaria', id=diaria.id)}}">
                        <h1 class="post-title">
                            {{ diaria.nome }}
                        </h1>
                    </a>

                    <p class="post-info">
                        {{diaria.data.strftime("%d/%m/%Y")}} - R${{diaria.valor}}
                    </p>
                </article>
        {% endfor %}
    </section> 

    <nav class="paginacao">
        <a class="btn btn-page" href="{{url_for('diaria.diarias', page=diarias.prev_num)}}">
            <i class="material-icons">navigate_before</i>
        </a>
        {% for page_num in diarias.iter_pages() %}
            {% if page_num == diarias.page %}
                <a class="btn btn-page btn-disable" href="#">{{page_num}}</a>
            {%else%}
                <a class="btn btn-page" href="{{url_for('diaria.diarias', page=page_num)}}">{{page_num}}</a>
            {% endif %}
        {% endfor %}
        <a class="btn btn-page" href="{{url_for('diaria.diarias', page=diarias.next_num)}}">
            <i class="material-icons">navigate_next</i></a>
        <p class="paginacao-info">Página {{diarias.page}} de {{diarias.pages}}</p>
    </nav>
{% endblock %}