<footer class="rodape bg-color padding">
    <nav>
        <ul class="footer-nav">
            
            <li>
                <a href="{{url_for('views.index')}}">
                    <i class="material-icons">home</i>
                    Inicio
                </a>
            </li>
            <li>
                <a href="{{url_for('noticia.noticias')}}">
                    <i class="material-icons">library_books</i>
                    Notícias
                </a>
            </li>
            <li>
    
                <a href="{{url_for('vereador.vereadores')}}">
                    <i class="material-icons">group</i>
                    Vereadores
                </a>
            </li>
            <li>
                <a href="{{url_for('diaria.diarias')}}">
                    <i class="material-icons">attach_money</i>
                    Diárias
                </a>
            </li>
        </ul>
    </nav>
    <p>
        <span class="endereco">
            Travessa Ministro Pedro Borges, S/N, Centro - São João do Piauí - CEP: 64760-000
        </span>
        <span class="expediente">
            Expediente: de Segunda a Sexta de 07:00 às 13:00 - Telefone: (89) 99415-9852
        </span>
    </p>
</footer>