<nav class="menu-wraper">
    <ul class="menu">
        <li class="menu-item">
            <a href="{{url_for('views.index')}}" class="menu-item-action">Início</a>
        </li>
       
        <li class="menu-item">
            <a href="{{url_for('noticia.noticias')}}" class="menu-item-action">Noticias</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('sessao.sessoes')}}" class="menu-item-action">Sessões</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('documentos.documentos')}}" class="menu-item-action">Documentos</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('vereador.vereadores')}}" class="menu-item-action">Vereadores</a>
        </li>

        <li class="menu-item">
            <a href="{{url_for('diaria.diarias')}}" class="menu-item-action">Diárias</a>
        </li>
        <li class="menu-item">
            <a href="{{url_for('usuario.login')}}" class="menu-item-action">Login</a>
        </li>
    </ul>
</nav>